<!--suppress HtmlFormInputWithoutLabel, HtmlUnknownTag -->
<template>
  <div class="row">

    <div class="col-4">

      <config :vm="vm" @import="onConfigImport"></config>

      <query :vm="vm"></query>

      <ranks :vm="vm"></ranks>

      <level-range-filter :vm="vm"></level-range-filter>

      <rules :vm="vm"></rules>

    </div>

    <div v-if="guildRoster.guild.name" class="col">
      <h2>Report for {{ guildRoster.guild.name }}</h2>
      <table id="report-table" class="table table-hover mb-2">
        <thead>
        <tr>
          <th @click="toggleSortByName">Name</th>
          <th @click="toggleSortBy('item_level')">Item Level</th>
          <th @click="toggleSortBy('rank')">Rank</th>
          <th @click="toggleSortByBracket">Top Bracket</th>
          <th title="Honor Level" @click="toggleSortBy('honor_level')">HL</th>
          <th title="Raider.IO Score" @click="toggleSortBy('io')">IO</th>
          <th @click="toggleSortByRaid">Raid</th>
          <th @click="toggleSortByPromo">Promote?</th>
        </tr>
        </thead>

        <tbody class="text-dark">
        <template v-for="{
          character: {id, name, realm},
          eligible_promotion,
          item_level,
          honor_level,
          io,
          raid,
          rank,
          topBracket: {name: bracketName, rating}
        } of sortedRoster"
                  :key="id">
          <tr :class="eligible_promotion !== undefined ? 'bg-success text-light' : ''">
            <a :href="`https://worldofwarcraft.com/en-us/character/us/${realm.slug}/${name}`" class="d-table-cell"
               target="_blank">
              <span>{{ name }}<template v-if="realm.name">-{{ realm.name }}</template></span>
            </a>
            <a :href="`https://worldofwarcraft.com/en-us/character/us/${realm.slug}/${name}`" class="d-table-cell"
               target="_blank">
              {{ item_level }}
            </a>
            <td>{{ vm.ranks[rank] }}</td>
            <a :href="`https://worldofwarcraft.com/en-us/character/us/${realm.slug}/${name}/pvp`" class="d-table-cell"
               target="_blank">
              {{ rating }} ({{ bracketName }})
            </a>
            <a :href="`https://worldofwarcraft.com/en-us/character/us/${realm.slug}/${name}/pvp`" class="d-table-cell"
               target="_blank">
              {{ honor_level }}
            </a>
            <a :href="`https://raider.io/characters/us/${realm.slug}/${name}`" class="d-table-cell" target="_blank">
              {{ io }}
            </a>
            <a :href="`https://worldofwarcraft.com/en-us/character/us/${realm.slug}/${name}/pve/raids`"
               class="d-table-cell" target="_blank">
              {{ raid.summary }}
            </a>
            <td>
              <template v-if="eligible_promotion">{{ vm.ranks[eligible_promotion.rank] }}</template>
              <template v-else>N/A</template>
            </td>
          </tr>
        </template>
        </tbody>
      </table>
    </div>

  </div>

  <button :disabled="requestInProgress" class="btn btn-success btn-lg position-fixed"
          style="right: 4em; bottom: 4em;" @click="updateGuildInfo">Generate Report
  </button>
</template>

<!--suppress JSMismatchedCollectionQueryUpdate -->
<script lang="ts">
/* eslint-disable @typescript-eslint/camelcase */
import {Options, Vue} from 'vue-class-component';

import {ViewModel} from '@/types/ViewModel';
import {BracketName, PvpBracketAPIResponse} from '@/types/Pvp';
import {Roster, RosterMember} from '@/types/Roster';

import WowApiService from '@/services/WowApiService';
import RaiderIoService from '@/services/RaiderIoService';
import ViewModelService from '@/services/ViewModelService';

import Config from '@/components/Config.vue';
import Query from '@/components/Query.vue';
import LevelRangeFilter from '@/components/LevelRangeFilter.vue';
import Ranks from '@/components/Ranks.vue';
import Rules from '@/components/Rules.vue';

@Options({
  components: {
    Config,
    Query,
    Ranks,
    LevelRangeFilter,
    Rules,
  }
})
export default class Home extends Vue {
  private vmService = new ViewModelService();
  private wow = new WowApiService();
  private raiderIo = new RaiderIoService();

  private requestInProgress = false;

  private vm: ViewModel = this.vmService.getEmptyViewModel();
  private guildRoster: Roster = {
    guild: {
      name: '',
      realm: ''
    },
    members: {}
  };
  private sortedRoster: RosterMember[] = [];

  private static get CURRENT_PVP_SEASON_ID() {
    return 30;
  }

  private static get CURRENT_RAID_NAME() {
    return 'castle-nathria';
  }

  // noinspection JSUnusedGlobalSymbols
  beforeMount() {
    this.vm = {
      ...this.vm,
      ...this.vmService.loadViewModel()
    };

    this.$watch('vm', () => this.vmService.saveViewModel(this.vm), {
      deep: true
    });
  }

  private onConfigImport(importString: string) {
    this.vm = JSON.parse(importString);
  }

  private async updateGuildInfo(): Promise<void> {
    this.requestInProgress = true;
    this.guildRoster.guild = {
      name: this.vm.query.guild.name,
      realm: this.vm.query.guild.realm
    };
    try {
      const roster = (await this.wow.getGuildRoster(this.vm.query.guild.realm, this.vm.query.guild.name)).members;
      const filteredRoster = roster
          .filter(member => this.vm.filter.guild.ranks.indexOf(member.rank.toString()) !== -1)
          .filter(member => member.character.level >= this.vm.filter.level.start && member.character.level <= this.vm.filter.level.end);

      this.guildRoster.members = filteredRoster
          .map(member => ({
            [member.character.id]: {
              ...member,
              item_level: 0,
              honor_level: 0,
              topBracket: {
                name: 'N/A',
                rating: 0
              },
              io: 0,
              raid: {
                summary: 'N/A',
                total_bosses: 0,
                normal_bosses_killed: -1,
                heroic_bosses_killed: -1,
                mythic_bosses_killed: -1
              }
            } as RosterMember
          })).reduce((roster, member) => ({
            ...roster,
            ...member
          }), {});
      this.sortedRoster = Object.values(this.guildRoster.members);
      // TODO: Sort roster by saved sorting property

      const pvpPromises: Promise<void>[] = filteredRoster
          .map(member => this.wow.getPvpSummary(member.character.realm.slug, member.character.name))
          .map(promise => promise
              .then(async pvpSummary => {
                this.guildRoster.members[pvpSummary.character.id].honor_level = pvpSummary.honor_level;

                const bracketPromises: Promise<PvpBracketAPIResponse>[] = [];

                const idx2v2 = pvpSummary.brackets.findIndex(bracket => bracket.href.indexOf('2v2') !== -1);
                if (idx2v2 !== -1)
                  bracketPromises.push(this.wow.getPvpBracket(pvpSummary.character.realm.slug, pvpSummary.character.name, '2v2'));

                const idx3v3 = pvpSummary.brackets.findIndex(bracket => bracket.href.indexOf('3v3') !== -1);
                if (idx3v3 !== -1)
                  bracketPromises.push(this.wow.getPvpBracket(pvpSummary.character.realm.slug, pvpSummary.character.name, '3v3'));

                const idxRbg = pvpSummary.brackets.findIndex(bracket => bracket.href.indexOf('rbg') !== -1);
                if (idxRbg !== -1)
                  bracketPromises.push(this.wow.getPvpBracket(pvpSummary.character.realm.slug, pvpSummary.character.name, 'rbg'));

                const topBracket = (await Promise.allSettled(bracketPromises))
                    .filter(result => result.status === "fulfilled")
                    .map(result => (result as PromiseFulfilledResult<PvpBracketAPIResponse>).value)
                    .filter(bracket => bracket.season.id === Home.CURRENT_PVP_SEASON_ID)
                    .reduce((max, bracket) => bracket.rating > max.rating ? bracket : max, {
                      _links: {
                        self: {
                          href: 'pvp-bracket/N/A'
                        }
                      },
                      character: pvpSummary.character,
                      rating: 0,
                      season: {
                        id: Home.CURRENT_PVP_SEASON_ID
                      }
                    } as PvpBracketAPIResponse);

                this.guildRoster.members[topBracket.character.id].topBracket = {
                  // eslint-disable-next-line @typescript-eslint/no-non-null-assertion
                  name: topBracket._links.self.href.match(/pvp-bracket\/(2v2|3v3|rbg|N\/A)/)![1].toString() as BracketName,
                  rating: topBracket.rating
                }
              })
          )

      const pvePromises: Promise<void>[] = filteredRoster
          .map(member => this.raiderIo.getRaiderIoData(member.character.realm.slug, member.character.name)
              .then(ioData => ({
                    ...ioData,
                    character: {
                      id: member.character.id
                    }
                  })
              )
          )
          .map(promise => promise
              .then(ioData => {
                this.guildRoster.members[ioData.character.id].character.realm.name = ioData.realm;
                this.guildRoster.members[ioData.character.id].item_level = ioData.gear.item_level_equipped;
                this.guildRoster.members[ioData.character.id].io = ioData.mythic_plus_scores_by_season[0].scores.all;
                this.guildRoster.members[ioData.character.id].raid = ioData.raid_progression[Home.CURRENT_RAID_NAME];
              })
          );

      await Promise.allSettled([...pvpPromises, ...pvePromises]);

      for (const characterId in this.guildRoster.members) {
        if (!Object.prototype.hasOwnProperty.call(this.guildRoster.members, characterId))
          continue;

        const {
          character,
          item_level,
          io,
          raid: {
            heroic_bosses_killed,
            mythic_bosses_killed,
            normal_bosses_killed,
            total_bosses
          },
          rank,
          honor_level,
          topBracket: {
            rating
          }
        } = this.guildRoster.members[characterId];

        const rule = this.vm.rules.promotion
            .sort((a, b) => a.rank - b.rank)
            .find(rule => {
              const {
                pvp,
                pve
              } = rule;

              // lower ranks = better
              return rule.rank < rank &&
                  character.level >= rule.level &&
                  item_level >= rule.itemLevel &&
                  (
                      io >= pve.io ||
                      (pve.raid === 'N' && normal_bosses_killed === total_bosses) ||
                      (pve.raid === 'H' && heroic_bosses_killed === total_bosses) ||
                      (pve.raid === 'M' && mythic_bosses_killed === total_bosses) ||
                      honor_level >= pvp.honorLevel ||
                      rating >= pvp.rating
                  )
            });

        if (rule !== undefined) {
          this.guildRoster.members[characterId].eligible_promotion = {
            rank: rule.rank,
          };
        }
      }
    } finally {
      this.requestInProgress = false;
    }
  }

  private sort(a: unknown, b: unknown, asc: boolean): number {
    const order = asc ? 1 : -1;

    const numericSort = Number.isFinite(a);
    if (numericSort) {
      const aNum = a as number;
      const bNum = b as number;

      return (aNum - bNum) * order;
    }

    const prototype = Object.getPrototypeOf(a);

    if (prototype === String.prototype) {
      const aStr = a as string;
      const bStr = b as string;

      return aStr.localeCompare(bStr) * order;
    }

    if (prototype === Object.prototype) {
      const aFirstVal = Object.values(a as object)[0];
      const bFirstVal = Object.values(a as object)[0];

      return this.sort(aFirstVal, bFirstVal, asc);
    }

    return Object.toString.call(a).localeCompare(Object.toString.call(b)) * order;
  }

  private multiSort(asc: boolean, ...args: unknown[]): number {
    if (args.length % 2 === 1)
      throw "";

    for (let i = 0; i < args.length; i += 2) {
      const a = args[i];
      const b = args[i + 1];

      if (a !== b)
        return this.sort(a, b, asc);
    }

    return 0;
  }

  private toggleSortDirection(targetProp: keyof RosterMember) {
    if (this.vm.sort.by === targetProp)
      this.vm.sort.ascending = !this.vm.sort.ascending;
    else {
      this.vm.sort.ascending = true;
    }
    this.vm.sort.by = targetProp;
  }

  private toggleSortBy(prop: keyof RosterMember) {
    this.toggleSortDirection(prop);
    this.sortedRoster.sort((a, b) => this.sort(a[prop], b[prop], this.vm.sort.ascending));
  }

  private toggleSortByName() {
    this.toggleSortDirection('character');
    this.sortedRoster.sort((a, b) => this.sort(a.character.name, b.character.name, this.vm.sort.ascending));
  }

  private toggleSortByBracket() {
    this.toggleSortDirection('topBracket');
    this.sortedRoster.sort((a, b) => this.sort(a.topBracket.rating, b.topBracket.rating, this.vm.sort.ascending));
  }

  private toggleSortByRaid() {
    this.toggleSortDirection('raid');
    this.sortedRoster.sort((a, b) => {
      const aRaid = a.raid;
      const bRaid = b.raid;

      return this.multiSort(this.vm.sort.ascending,
          aRaid.mythic_bosses_killed, bRaid.mythic_bosses_killed,
          aRaid.heroic_bosses_killed, bRaid.heroic_bosses_killed,
          aRaid.normal_bosses_killed, bRaid.normal_bosses_killed,
      );
    });
  }

  private toggleSortByPromo() {
    this.toggleSortDirection('eligible_promotion');
    this.sortedRoster.sort((a, b) => this.sort(a.eligible_promotion?.rank ?? Number.MAX_SAFE_INTEGER,
        b.eligible_promotion?.rank ?? Number.MAX_SAFE_INTEGER, this.vm.sort.ascending));
  }
}
</script>

<style lang="scss" scoped>
#report-table {
  thead {
    th {
      cursor: pointer;
    }
  }

  tbody {
    a {
      /* extends bootstrap's table cell styles */
      border-color: inherit;
      border-style: solid;
      border-width: 0;
      border-bottom-width: 1px;
    }
  }

  thead, tbody {
    a, th {
      color: inherit;
      text-decoration: none;
      position: relative;

      &::after {
        content: "";
        display: none;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: black;
        filter: opacity(12.5%);
      }

      &:hover::after {
        display: block;
      }
    }
  }
}
</style>
