<template>
  <div class="row mb-2">
    <div class="col">
      <div class="btn-group">
        <button class="btn btn-warning" type="button" @click="exportConfig">Export Config</button>
        <button class="btn btn-success" type="button" @click="importConfig">Import Config</button>
      </div>
    </div>
  </div>

  <div v-if="exportingConfig" class="row mb-2">
    <div class="col">
      <!--suppress HtmlFormInputWithoutLabel -->
      <textarea ref="textarea-export" :value="exportString" class="form-control" readonly
                rows="10" @click="selectAndCopyFromTextarea"></textarea>
    </div>
  </div>
  <div v-if="importingConfig" class="row mb-2">
    <div class="col">
      <!--suppress HtmlFormInputWithoutLabel -->
      <textarea v-model="importString" class="form-control mb-2"></textarea>
      <button class="btn btn-primary" @click="doImportConfig">Import Config</button>
    </div>
  </div>
</template>

<script lang="ts">
import {Options, Vue} from 'vue-class-component';
import {ViewModel} from "@/types/ViewModel";

@Options({
  name: 'Config',
  props: {
    vm: Object,
  },
  emits: ['import'],
})
export default class Config extends Vue {
  private vm!: ViewModel;

  private importingConfig = false;
  private exportingConfig = false;
  private exportString = '';
  private importString = '';

  private importConfig() {
    this.importingConfig = !this.importingConfig;
    this.exportingConfig = false;
  }

  private exportConfig() {
    this.exportingConfig = !this.exportingConfig;
    this.importingConfig = false;
    if (this.exportingConfig) {
      this.exportString = JSON.stringify(this.vm);
      this.$nextTick(this.selectAndCopyFromTextarea);
    }
  }

  private selectAndCopyFromTextarea() {
    const textarea = this.$refs['textarea-export'] as HTMLTextAreaElement;
    textarea.focus();
    textarea.select();
    textarea.setSelectionRange(0, this.exportString.length, 'forward');
    document.execCommand('copy');
  }

  private doImportConfig() {
    this.$emit('import', this.importString);
    this.importingConfig = false;
    this.importString = '';
  }
}
</script>

<style lang="scss" scoped>

</style>
