<template>
  <div class="row">
    <div class="col">

      <h2>Level</h2>

      <div class="row">
        <div class="col">
          <input id="levelRangeStart" v-model="vm.filter.level.start" class="form-range" max="60" min="1"
                 type="range">
          <label class="form-label" for="levelRangeStart">From {{ vm.filter.level.start }}</label>
        </div>

        <div class="col">
          <input id="levelRangeEnd" v-model="vm.filter.level.end" class="form-range" max="60" min="1" type="range">
          <label class="form-label" for="levelRangeEnd">To {{ vm.filter.level.end }}</label>
        </div>
      </div>

    </div>
  </div>
</template>

<script lang="ts">
import {Options, Vue} from 'vue-class-component';
import {ViewModel} from '@/types/ViewModel';

@Options({
  name: 'level-range-filter',
  props: {
    vm: Object
  }
})
export default class LevelRangeFilter extends Vue {
  private vm!: ViewModel;
}
</script>

<style lang="scss" scoped>

</style>
