<template>
  <div class="row">
    <div class="col">

      <h2>Guild</h2>

      <div class="row">
        <div class="col">
          <div class="form-floating">
            <input id="guildName" v-model="vm.query.guild.name" class="form-control" placeholder="" type="text">
            <label for="guildName">Guild Name</label>
          </div>
        </div>

        <div class="col">
          <div class="form-floating">
            <input id="guildRealm" v-model="vm.query.guild.realm" class="form-control" placeholder="" type="text">
            <label for="guildRealm">Guild Realm</label>
          </div>
        </div>
      </div>

    </div>
  </div>
</template>

<script lang="ts">
import {Options, Vue} from 'vue-class-component';
import {ViewModel} from '@/types/ViewModel';

@Options({
  name: 'query',
  props: {
    vm: Object,
  },
})
export default class Query extends Vue {
  private vm!: ViewModel;
}
</script>

<style lang="scss" scoped>

</style>
