<template>
  <div class="row">
    <div class="col">

      <h2>Ranks</h2>
      <button class="btn btn-warning mb-2" @click="editingRankNames = !editingRankNames">Edit Rank Names</button>

      <div class="list-group">
        <div v-for="(rankName, rankId) of vm.ranks" :key="rankId" class="list-group-item p-0">
          <!--suppress HtmlFormInputWithoutLabel -->
          <input :id="`rank-${rankId}`" v-model="vm.filter.guild.ranks" :value="rankId" class="btn-check"
                 type="checkbox">
          <label :for="`rank-${rankId}`" class="btn btn-outline-primary w-100 border-0 shadow-none"
                 style="border-radius: 0">{{ rankName }}</label>
        </div>
      </div>

      <div v-if="editingRankNames">
        <!--suppress JSUnusedLocalSymbols -->
        <div v-for="(_, rankId) of vm.ranks" :key="rankId" class="form-floating">
          <!--suppress HtmlFormInputWithoutLabel -->
          <input :id="`edit-rank-${rankId}`" v-model="vm.ranks[rankId]" class="form-control">
          <label :for="`edit-rank-${rankId}`">Rank {{ rankId }}</label>
        </div>
      </div>

    </div>
  </div>
</template>

<script lang="ts">
import {Options, Vue} from 'vue-class-component';
import {ViewModel} from '@/types/ViewModel';

@Options({
  name: 'ranks',
  props: {
    vm: Object
  },
})
export default class Ranks extends Vue {
  private vm!: ViewModel;

  private editingRankNames = false;
}
</script>

<style lang="scss" scoped>

</style>
