<!--suppress HtmlFormInputWithoutLabel -->
<template>

  <div class="row mb-2">
    <div class="col">
      <h2>Rules</h2>
      <button class="btn btn-primary" @click="vmService.addPromotionRule(vm)">Add Promotion Rule</button>
    </div>
  </div>

  <div class="row row-cols-md-2 row-cols-sm-1">
    <div v-for="(rule, idx) of vm.rules.promotion" :key="rule" class="col mb-2">
      <div class="card text-center me-2">
        <div class="card-body">

          <div class="form-floating mb-2">
            <select :id="`promotion-rule-${idx}-rank`" v-model="rule.rank" class="form-select">
              <option v-for="(rankName, rankId) of vm.ranks" :key="rankId" :value="rankId">
                {{ rankName }}
              </option>
            </select>
            <label :for="`promotion-rule-${idx}-rank`">Rank</label>
          </div>

          <div class="mb-2">
            <div class="form-floating">
              <input :id="`promotion-rule-${idx}-level`" v-model="rule.level" class="form-control" max="60"
                     min="1"
                     type="number">
              <label :for="`promotion-rule-${idx}-level`">Level</label>
            </div>
            <input v-model="rule.level" class="form-range" max="60" min="1" type="range">
          </div>

          <div class="mb-2">
            <div class="form-floating">
              <input :id="`promotion-rule-${idx}-item-level`" v-model="rule.itemLevel" class="form-control"
                     min="0"
                     type="number">
              <label :for="`promotion-rule-${idx}-item-level`">Item Level</label>
            </div>
          </div>

          <h4 class="card-title">PvE</h4>

          <div class="mb-2">
            <div class="form-floating mb-2">
              <input :id="`promotion-rule-${idx}-io`" v-model="rule.pve.io" class="form-control" min="0"
                     type="number">
              <label for="`promotion-rule-${idx}-io`">Raider.IO Score</label>
            </div>

            <div class="form-floating">
              <select :id="`promotion-rule-${idx}-raid`" v-model="rule.pve.raid" class="form-select">
                <option value="N">Normal</option>
                <option value="H">Heroic</option>
                <option value="M">Mythic</option>
              </select>
              <label :for="`promotion-rule-${idx}-raid`">Raid</label>
            </div>
          </div>

          <h4 class="card-title">PvP</h4>

          <div class="mb-2">
            <div class="form-floating mb-2">
              <input :id="`promotion-rule-${idx}-honor-level`" v-model="rule.pvp.honorLevel"
                     class="form-control"
                     min="0"
                     type="number">
              <label for="`promotion-rule-${idx}-honor-level`">Honor Level</label>
            </div>

            <div class="form-floating mb-2">
              <input :id="`promotion-rule-${idx}-rating`" v-model="rule.pvp.rating" class="form-control" min="0"
                     type="number">
              <label for="`promotion-rule-${idx}-rating`">Rating</label>
            </div>
          </div>
        </div>

        <div class="card-footer">
          <button class="btn btn-danger" @click="vm.rules.promotion.splice(idx, 1)">Delete Rule</button>
        </div>
      </div>
    </div>
  </div>

</template>

<script lang="ts">
import {Options, Vue} from 'vue-class-component';
import {ViewModel} from '@/types/ViewModel';
import ViewModelService from "@/services/ViewModelService";

@Options({
  name: 'rules',
  props: {
    vm: Object
  }
})
export default class Rules extends Vue {
  private vm!: ViewModel;

  private vmService = new ViewModelService();
}
</script>

<style lang="scss" scoped>

</style>
