<template>
  <!--  <nav>
      <router-link to="/">Home</router-link>
    </nav>-->
  <div class="container my-2">
    <router-view/>
  </div>
</template>

<script lang="ts">
import {Options, Vue} from 'vue-class-component';

@Options({
  watch: {
    '$route': {
      'handler'(to) {
        document.title = to?.meta?.title || 'WoW Guild Report Tool';
      },
      immediate: true
    }
  }
})
export default class App extends Vue {
}
</script>

<style lang="scss">
#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
}

nav {
  padding: 30px;

  a {
    font-weight: bold;
    color: #2c3e50;

    &.router-link-exact-active {
      color: #42b983;
    }
  }
}
</style>
